---
title: About Me
lang: en
date: 2018-03-21 00:40:35
order: 2
---
{% extends "base.html" %}
{% block title %}{{ config.title }} - About me {% endblock %}
{% block body %}

<div class="leading-8 place-content-center grid">
    👨‍👦 Father of Timuçin <br>
    🧑🏻 Husband of Aysel <br>
    👨🏻‍💻 Technology addict <br>
    👨🏻‍💼 Engineering Manager <br>
    🐈‍⬛ Cat owner <br>
    🔬 a curious person <br>
    🇧🇬 Born in Denmark <br>
    🇹🇷 Lived in Turkey <br>
    🇩🇰 Lives in Denmark
</div>

{% endblock %}