<section class="mb-8">
  <ul class="flex flex-col divide-y divide-slate-200">
    {%- for post in posts %}
    <li class="group cursor-pointer hover:bg-neutral-50 active:bg-neutral-50">
      <a class="block px-0 md:px-6 py-4 text-inherit" href="{{ post_url(post.lang, post.slug) }}">
        <div class="summary flex flex-row gap-8 text-slate-700">
          <div class="flex flex-1 flex-col gap-2">
            <time class="text-xs text-slate-500 ">{{ post.date | formatdatetime("%B %d, %Y") }}</time>
            <h2 class="font-medium mb-0 text-slate-700">{{ post.title -}}</h2>
            <p class="text-balance mb-0 text-slate-600 text-sm/6 flex flex-wrap ">
              {%- for tag in post.tags %}
              <span class="inline-flex items-center rounded-md bg-blue-50 px-2 py-1 mr-2 text-xs font-medium text-blue-900 ring-1 ring-inset ring-blue-500/10">#{{ tag }}</span>
              {% endfor %}
            </p>
          </div>
          <div class="my-auto group-hover:translate-x-2 transition-transform">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3"></path>
            </svg>
          </div>
        </div>
      </a>
    </li>
    {% endfor %}
  </ul>
</section>