<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="description" content="{{ config.description }}" />
    <meta charset="utf-8">
    <title>{% block title %}{{ config.title }}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="author" content="{{ config.author }}">
    {% block metas %}{% endblock %}
    {% block links %}{% endblock %}
    {% block scripts %}{% endblock %}
    <link rel="stylesheet" href="/assets/style.css">

    <!-- Extension headers -->
    {%- for header in headers %}
    {{ header | safe }}
    {% endfor %}
    <!-- Extension headers -->

    <link href="https://fonts.cdnfonts.com/css/segoe-ui-4" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/proxima-nova-condensed" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/roboto" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/fjalla-one-2" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" rel="stylesheet" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous" />

</head>

<body data-theme="light">
    <div class="flex flex-col h-screen justify-between">
        {%- include "header.html" %}

        <main class="relative p-2 md:p-4 flex flex-col sm:flex-row gab-1 md:gap-4 lg:grid-cols-3 lg:gap-4 xl:gap-8">
            <div class="flex-1">
                {% block left %}
                {%- include "_left_panel.html" %}
                {% endblock %}
            </div>
            <div class="flex-1 border-slate-200 bg-white px-3 2xl:px-10 pb-10">
                <div
                    class="mt-3 flex flex-col justify-between leading-normal body-width">
                    {% block body %}{% endblock %}
                </div>
            </div>
            <div class="flex-1">
                <div class="side-panel">
                    {% block right %}
                    {%- include "_right_panel.html" %}
                    {% endblock %}
                </div>
            </div>
        </main>
        {%- include "footer.html" %}
    </div>
</body>
<!-- Extension after body -->
{%- for after_body in after_bodies %}
{{ after_body | safe }}
{% endfor %}
<!-- Extension after body -->

</html>