<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="description" content="{{ config.description }}" />
    <meta charset="utf-8">
    <title>{{ config.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="">
    {% block metas %}{% endblock %}
    {% block links %}{% endblock %}
    {% block scripts %}{% endblock %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
</head>

<body>

    {%- include "header.html" %}
    <div class="container">
        {% block body %}{% endblock %}
    </div>
    <script>
    </script>
    {%- include "footer.html" %}
</body>

</html>