<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="description" content="{{ config.description }}" />
    <meta charset="utf-8">
    <title>{{ config.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="">
    {% block metas %}{% endblock %}
    {% block links %}{% endblock %}
    {% block scripts %}{% endblock %}
    <link rel="stylesheet" href="/assets/tailwindcss.css">
    <link rel="stylesheet" href="/assets/style.css">
    
    <!-- Extension headers -->
    {%- for header in headers %}
        {{ header | safe }}
    {% endfor %}
    <!-- Extension headers -->
     
    <link href="https://fonts.cdnfonts.com/css/segoe-ui-4" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/proxima-nova-condensed" rel="stylesheet">   
    <link href="https://fonts.cdnfonts.com/css/rogan" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/uni-neue" rel="stylesheet">         
</head>

<body data-theme="light">
    <div class="flex flex-col h-screen justify-between">
        {%- include "header.html" %}

        <main class="relative p-4">
            <div class="max-w-3xl mx-auto">
                <div
                    class="mt-3 rounded-b lg:rounded-b-none lg:rounded-r flex flex-col justify-between leading-normal">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </main>
        {%- include "footer.html" %}
    </div>
</body>
<!-- Extension after body -->
{%- for after_body in after_bodies %}
    {{ after_body | safe }}
{% endfor %}
<!-- Extension after body -->
</html>