---
title: Posts
order: 1
---

{% extends "base.html" %}
{% block body %}
  <table class="table-auto">
    <tbody>
      {%- for post in posts %}
      <tr>
        <td>
          <p> {{ post.date | formatdatetime("%B %d, %Y") }}</p>
        </td>
        <td>
          <a href="{{ post_url(post.lang, post.slug) }}" class="text-xs font-semibold tracking-wider uppercase">
            #{{ post.title -}}
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}